* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: metropolis;
  src: url(./fonts/metropolis-bold/Metropolis-Regular.otf);
  font-weight: normal;
}

@font-face {
  font-family: metropolis;
  src: url(./fonts/metropolis-bold/Metropolis-Bold.otf);
  font-weight: bold;
}

.sketch {
  // outline: 0.5vh dashed purple;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  // background-color: #2b2b2b;
  // background-image: linear-gradient(
  //     45deg,
  //     #333 25%,
  //     transparent 25%,
  //     transparent 75%,
  //     #333 75%,
  //     #333
  //   ),
  //   linear-gradient(
  //     -45deg,
  //     #333 25%,
  //     transparent 25%,
  //     transparent 75%,
  //     #333 75%,
  //     #333
  //   );
  // background-size: 2vh 2vh;
  // background-position: center;
  // background-repeat: repeat;
  background: transparent !important;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  max-width: calc(1.777777 * 100vh);
  margin: auto;
  position: relative;
  font-family: metropolis;
  color: white;

  > * {
    @extend .sketch;
  }
}

#dj-logo {
  position: absolute;
  top: 1vh;
  right: 4vh;
  width: 42.5vh;
  height: 16vh;
  object-fit: contain;
}

#dj-name {
  position: absolute;
  text-align: center;
  top: 19.35vh;
  left: 65vh;
  transform: translateX(-50%);
  color: white;
  font-size: 3vh;
  font-weight: bold;
  text-transform: uppercase;
}

#socials-container {
  position: absolute;
  left: 5.3vh;
  right: 54.8vh;
  height: 6vh;
  bottom: 15vh;
  padding: 0 4vh;
  z-index: -10;
  background-color: hsla(0, 0%, 0%, 0.4);

  font-weight: bold;

  display: flex;
  justify-content: space-around;
  align-items: center;

  > div {
    @extend .sketch;
    @extend .flex-center;
    flex: 1;
    margin: 0 2vh;

    > img {
      height: 3vh;
      max-width: 6vh;
      object-fit: contain;
      margin-right: 1vh;
    }

    > .icon {
      font-size: 2.5vh;
      margin-right: 1.5vh;
    }

    > .tag {
      transform: translateY(0.07vh);
      font-size: 1.7vh;
    }
  }
}

#bottom-banner {
  @extend .flex-center;
  position:absolute;
  left: 5.1vh;
  right: 4.6vh;
  bottom: 3vh;
  height: 8.5vh;
  padding: 0 1vh;

  font-weight: bold;
  font-size: 4vh;
  white-space: nowrap;

  > * {
    flex: 1;
  }
}

#image-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;

  background-image: url(./images/static.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}